html {
  box-sizing: border-box;
}

body {
  padding-inline: 24px;
  display: flex;
  flex-direction: column;
  min-height: 100svh;
  gap: 20px;

  font-family: "Courier New", Courier, monospace;
  font-size: 20px;
}

main {
  flex: 1;
}
section {
  padding-block: 18px;
}

ul {
  display: flex;
  flex-direction: column;
  gap: 12px;
}

footer {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
